.footer__links-decoration {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  transition: opacity 0.5s ease-in;
}

.footer__links-decoration:hover {
  opacity: 0.4;
}
