@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(3600deg);
  }
}

.rotation{
  animation: rotation 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
